<header>
             
        <nav>
            <div class="txt_serv" >Service Client : 33 984 12 34 </div>
            <ul class="nav-links">
                <li><a href="">Qui sommes-nous?</a></li>
                <li><a href="">Contact</a></li>
                <li><a href="">Me connecter</a></li>
                <li><a href="">Creer mon compte</a></li>
                <li><a href=""><img src="assets/images/panier.png"></a></li>
            </ul>
        </nav>
        
                
</header>

