<header id="header" class="fixed w-full z-30 top-0 bg-green-500 text-white">
    <div class="w-full container mx-auto flex flex-wrap z-30 items-center justify-between mt-0 py-2">
      <div class="pl-4 flex items-center">
        <a class="toggleColour text-black hover:underline text-base lg:text-xl" href="#">
          <!--Icon from: http://www.potlabicons.com/ -->
          service client : 77 342 32 22 22
        </a>
      </div>
      <div class="block lg:hidden pr-4">
        <button  (click)="openHamburger()" class="nav-toggle flex items-center p-1 text-white hover:text-gray-900 focus:outline-none focus:shadow-outline transform transition hover:scale-105 duration-800 ease-in-out">
          <svg class="fill-current h-6 w-6" viewBox="0 0 20 20" xmlns="http://www.w3.org/2000/svg">
            <title>Menu</title>
            <path d="M0 3h20v2H0V3zm0 6h20v2H0V9zm0 6h20v2H0v-2z" />
          </svg>
        </button>
      </div>
      <div [hidden]="!hamburgerOpen"  class="w-full mr-4 flex-grow lg:flex lg:items-center lg:w-auto lg:mt-0 lg:bg-transparent text-black p-4 lg:p-0 z-20 " id="navigation">
        <ul class="list-reset lg:flex justify-end flex-1 items-center">
          <li class="mr-3">
            <a class="inline-block py-2 px-4 text-white hover:underline" href="#">Qui nous somme?</a>
          </li>
        
          <li class="mr-4">
            <a  routerLink="/login"  routerLinkActive="active" ariaCurrentWhenActive="page" data-popover-target="po-bottom" data-popover-placement="bottom" type="button" class="inline-block text-white hover:underline py-2 px-4" href="#">
               Se connecter
            
            </a>
          <div data-popover id="po-bottom" role="tooltip" class="mx-auto inline-block absolute invisible z-10 w-44 bg-white rounded divide-y divide-gray-100 shadow dark:bg-gray-700">
            <ul class="py-1 text-sm text-gray-700 dark:text-gray-200" aria-labelledby="dropdownDefault">
              <li>
                <a routerLink="/inscription" class="block py-2 px-4 hover:bg-gray-100 hover:text-green-600 dark:hover:bg-gray-600 dark:hover:text-white">Creer un compte</a>
              </li>
              <li>
                <a href="#" class="block py-2 px-4 hover:bg-gray-100 hover:text-green-600 dark:hover:bg-gray-600 dark:hover:text-white">Mon compte</a>
              </li>
              <li>
                <div class="py-4 text-center">
                <a href="#" class=" rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider  md:border-2 border-black hover:border-green-500 hover:bg-green-500 hover:text-white transition ease-out duration-200" href="#">DECONNEXION</a>
              </div>
              </li>
            </ul>
          </div>

          </li>
          <li class="mr-3">
              <a  data-popover-target="popover-bottom" data-popover-placement="bottom" type="button" class="inline-block mx-auto lg:mx-0 hover:bg-green-700 text-white hover:text-white py-2 px-4" href="#">
                  <div>
                    <svg class="w-9 " xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" strokeWidth={1.5} stroke="currentColor" className="w-6 h-6">
                      <path strokeLinecap="round" strokeLinejoin="round" d="M15.75 10.5V6a3.75 3.75 0 10-7.5 0v4.5m11.356-1.993l1.263 12c.07.665-.45 1.243-1.119 1.243H4.25a1.125 1.125 0 01-1.12-1.243l1.264-12A1.125 1.125 0 015.513 7.5h12.974c.576 0 1.059.435 1.119 1.007zM8.625 10.5a.375.375 0 11-.75 0 .375.375 0 01.75 0zm7.5 0a.375.375 0 11-.75 0 .375.375 0 01.75 0z" />
                    </svg>
                    
                  </div>
                  <div class="ml-5 -mt-4 relative">
                    <span class="bg-white text-green-600  rounded-full py-0.5 px-2">0</span>
                  </div>

                </a>
              <div data-popover id="popover-bottom" role="tooltip" class="inline-block absolute invisible z-10 w-64 text-sm font-light text-gray-500 bg-white rounded-lg border border-gray-200 shadow-sm opacity-0 transition-opacity duration-300 dark:text-gray-400 dark:border-gray-600 dark:bg-gray-800">
                 
                <div class=" relative">
                  <table class="w-full text-sm text-left text-gray-500 dark:text-gray-400">
                     
                      <tbody>
                          <tr class="bg-white dark:bg-gray-800">
                              <th scope="row" class="py-4 px-4 font-medium text-gray-900 whitespace-nowrap dark:text-white">
                                  Nicorette
                              </th>
                              <td class="py-4 px-4">
                                  $2999
                              </td>
                          </tr>
                        
                      </tbody>
                      <tfoot>
                          <tr class="font-semibold text-gray-900 bg-gray-100 dark:text-white">
                              <th scope="row" class="py-2 px-4 text-base">Total</th>
                              <td class="py-2 px-4 text-green-600 font-bold">21,000</td>
                          </tr>
                      </tfoot>
                  </table>
                </div>

               
                  <div class="py-4 text-center">
                     <a href="#" class=" rounded-full py-2 px-3 uppercase text-xs font-bold cursor-pointer tracking-wider  md:border-2 border-black hover:border-green-500 hover:bg-green-500 hover:text-white transition ease-out duration-200" href="#" [routerLink]="['panier']" routerLinkActive="router-link-active">Voir mon panier</a>
                  </div>
                 <div data-popper-arrow></div>
              </div>

          </li>
        </ul>
      
      </div>
    </div>
    <hr class="border-b border-gray-100 opacity-25 my-0 py-0" />
</header>