<div class="items">
    <h1>dddnmqdqwpokskdks</h1>
    <div class="list-button">
        <button>MEDICAMENTS</button>
        <button>SANTE</button>
        <button>PREMIERS SOINS</button>
        <button>SOINS NATURELS</button>
        <button>HYGIENES</button>
        <button>BEBE-GROSSESSE</button>
        <button>BEAUTE</button>
        <button>CONTENTION</button>
        <button>ORTHOPEDIE</button>
        <button>CONSEILS</button>
    </div>
</div>

<div class="search">
    <div class="research">
                    
        <input type="search" placeholder="Search here ...">
        <i class="fa fa-search"></i>

</div>
</div>
<div class="view"></div>